@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.respon{
    display: flex;
}
@media (max-width: 768px) {
    .respon {
        display: block !important;
        flex-direction: column !important;
    }
} */